<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>二维码_API.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>07D319381BC8AB8800448FAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07D319511BC8AB8800448FAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07D3195C1BC8AB8800448FAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
